#### Passo a passo de como retornar consultas do banco de dados SQL Server
###### (1) Instalar primeiro o ODBC do Sql Server: https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver17
###### (2) Para execução de querys e conexão, utilizar Pandas e Pyodbc

In [1]:
# instalação das bibliotecas

#!pip install pyodbc sqlalchemy
#!pip install pandas pyodbc sqlalchemy
#!pip install openpyxl

# importando as bibliotecas

import pyodbc
import pandas as pd

##### Parâmetros da conexão

In [2]:
# parâmetros de conexão
server = "DESKTOP-N7M9IQM"   # nome do servidor que aparece no SSMS
database = "AdventureWorksDW2022"  # escolha o banco
driver = "ODBC Driver 17 for SQL Server"  # ou 18, se instalado

# conexão via autenticação do Windows
try:
    conn = pyodbc.connect(
        f"DRIVER={{{driver}}};"
        f"SERVER={server};"
        f"DATABASE={database};"
        "Trusted_Connection=yes;"
    )
    print("Conexão com o banco de dados realizada com sucesso! ;)")
except Exception as e:
    print("Erro ao conectar ao banco de dados:", e)

Conexão com o banco de dados realizada com sucesso! ;)

In [3]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM sys.tables;")
qtd = cursor.fetchone()[0]

print(f"Esse banco de dados tem {qtd} tabelas.")

Esse banco de dados tem 31 tabelas.

#### Query para lermos o nome da tabelas

In [4]:
# Com base na variável qtd, encontramos os nomes das tabelas
cursor.execute("SELECT top (?) name FROM sys.tables;",(qtd,))

rows = cursor.fetchall()  # pegamos todos os resultados de uma vez

# transformamos a lista de tuplas em lista simples só com os nomes
table_names = [row[0] for row in rows]
table_names

['DatabaseLog',
 'AdventureWorksDWBuildVersion',
 'DimAccount',
 'DimCurrency',
 'DimCustomer',
 'DimDate',
 'DimDepartmentGroup',
 'DimEmployee',
 'DimGeography',
 'DimOrganization',
 'DimProduct',
 'DimProductCategory',
 'DimProductSubcategory',
 'DimPromotion',
 'DimReseller',
 'DimSalesReason',
 'DimSalesTerritory',
 'DimScenario',
 'FactAdditionalInternationalProductDescription',
 'FactCallCenter',
 'FactCurrencyRate',
 'FactFinance',
 'FactInternetSales',
 'FactInternetSalesReason',
 'FactProductInventory',
 'FactResellerSales',
 'FactSalesQuota',
 'FactSurveyResponse',
 'NewFactCurrencyRate',
 'ProspectiveBuyer',
 'sysdiagrams']

#### Criando um DataFrame com o resultado

In [5]:
# cria DataFrame a partir da lista de tuplas
df = pd.DataFrame(table_names, columns=["Tabela"])

# define índice começando em 1
df.index = df.index + 1

print("DataFrame com as tabelas encontradas:")
display(df)   # no Jupyter mostra formatado bonitinho

DataFrame com as tabelas encontradas:

                                           Tabela
1                                     DatabaseLog
2                    AdventureWorksDWBuildVersion
3                                      DimAccount
4                                     DimCurrency
5                                     DimCustomer
6                                         DimDate
7                              DimDepartmentGroup
8                                     DimEmployee
9                                    DimGeography
10                                DimOrganization
11                                     DimProduct
12                             DimProductCategory
13                          DimProductSubcategory
14                                   DimPromotion
15                                    DimReseller
16                                 DimSalesReason
17                              DimSalesTerritory
18                                    DimScenario
19  FactAdditionalInternationalProductDescription
20                                 FactCallCenter
21                               FactCurrencyRate
22                                    FactFinance
23                              FactInternetSales
24                        FactInternetSalesReason
25                           FactProductInventory
26                              FactResellerSales
27                                 FactSalesQuota
28                             FactSurveyResponse
29                            NewFactCurrencyRate
30                               ProspectiveBuyer
31                                    sysdiagrams

#### Download de dados em TXT e Excel no mesmo diretório do script

In [6]:
# salva em Excel (XLSX) 
df.to_excel("tabelas_sqlserver.xlsx", index=True)
print("✅ Arquivo Excel gerado: tabelas_sqlserver.xlsx")

# salva em TXT separado por tabulação
df.to_csv("tabelas_sqlserver.txt", index=True, sep="\t")
print("✅ Arquivo TXT gerado: tabelas_sqlserver.txt")

✅ Arquivo Excel gerado: tabelas_sqlserver.xlsx
✅ Arquivo TXT gerado: tabelas_sqlserver.txt